@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Utah Temple Tours</h1>
    <img src="~/img/layton-utah-temple-6932-main.jpg" />

    <h3>General Tour Instructions:</h3>
    <ul style="text-align:left">
        <li>Masks are required inside the trailer. If you want to see the video, 
        everyone in your group must wear a mask. We can only take 10 people at a time inside the trailer 
        - thank you for your patience and understanding</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Dress casual, except on Sunday</li>
    </ul>
    <a asp-controller="Home" asp-action="SignUp" class="btn btn-primary">Sign Up</a>
</div>
